//colors
$color-light: #7ed56f;
$color-org: #55c57a;
$color-dark: #28b485;
$color-white: #fff;
$color-light-grey: #f7f7f7;
$color-grey: #777;
$color-grey-dark: #999;
$color-grey-extradark: #333;
$color-black: #000;
$color-blue-dark: #5643fa;
$color-blue-light: #2998ff;
$color-yellow-dark: #ff7730;
$color-yellow-light: #ffb900;
$color-brown-dark: #3f3f44;

//grid size
$row-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;

//margin
$margin-bot-small: 1.4rem;
$margin-bot-small2: 4rem;
$margin-bot-medium: 6rem;
$margin-bot-large:  8rem;
