.u--heading__primary2{
  text-align: center;
}

.margin-bot-large{
  margin-bottom: $margin-bot-large;
}

.margin-bot-medium{
  margin-bottom: $margin-bot-medium;
}

.margin-bot-small{
  margin-bottom: $margin-bot-small;
}

.margin-bot-small2{
  margin-bottom: $margin-bot-small2;
}

.header__tertiary{
  margin-bottom: $margin-bot-small;
}
